.wrapper {
  text-align: center;
}
.wrapper .img {
  padding-right: 10px;
}
.wrapper .img i {
  font-size: 25px;
}
.wrapper .product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .product h3 {
  font-weight: 500;
  color: #1c4570;
}
.wrapper p {
  font-size: 13px;
  margin-top: 15px;
  color: #1c4570;
  font-weight: 300;
}
.ico{color: #ffc000;background-color: #fcfcfd;}
.ico i{font-size: 35px !important;}
@media(max-width:992px){
  .wrapper .grid2{
    grid-template-columns: repeat(2, 1fr);
  }
}
