footer {
  background-color: #1c4670;
  padding: 100px 0;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #ffc000;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.9;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}


@media(max-width:992px){
  footer .grid2{
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    padding: 20px;
}
footer li {
  font-size: 13px;
}
footer p {
  font-size: 13px;
  margin-bottom: 15px;
}
footer h1 {
  margin-bottom: 15px;
}
footer h2 {
  margin-bottom: 15px;
  font-size: 17px;
}
}